<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVERSION 360</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/icon.png" type="image/png">
</head>
<body>
    <!-- header -->
    <header>
        <div>
            <h1>INVERSION 360</h1>
            <p>"Invierte hoy, construye tu patrimonio con confianza."</p>
        </div>
    </header>
    <!-- navbar -->
    <nav class="navbar">
        <a href="../../index.html">INCIO</a>
        <a href="Mercado.html">ACTUALIDAD DE MERCADO</a>
        <a href="#">DEJANOS TU CONSULTA</a>
    </nav>
    <!-- formulario -->
    <form action="">
        <fieldset>
            <legend>DEJANOS TU CONSULTA</legend>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" required>
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" required>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <label for="Telefono">Telefono</label>
            <input type="text" name="Telefono" id="Telefono" required>
            <label for="informacion">Dejanos tu consulta...</label>
            <textarea name="info" id="informacion"></textarea>
            <input type="submit" value="Pedir informacion">
            <input type="reset" value="Borrar">
        </fieldset>
    </form>

    <!-- footer -->
    <footer>
        <p>&copy; Miqueas Kirtio, Potrero Digital 2024</p>
    </footer>
</body>
</html>