<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVERSION 360</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/icon.png" type="image/png">
</head>
<body>
    <!-- header -->
    <header>
        <div>
            <h1>INVERSION 360</h1>
            <p>"Invierte hoy, construye tu patrimonio con confianza."</p>
        </div>
    </header>
    <!-- navbar -->
    <nav class="navbar">
        <a href="../../index.html">INCIO</a>
        <a href="Mercado.html"">ACTUALIDAD DE MERCADO</a>
        <a href="Formulario.html">DEJANOS TU CONSULTA</a>
    </nav>
    <!-- Tipos de inversores -->
    <Main class="tipos">
        <h2>Perfil de Inversores</h2>
        <img src="../img/tipos.jpeg" alt="inversion">
        <p><BR>Cada inversor tiene un perfil único que determina su enfoque hacia las inversiones. Aquí te presentamos los principales perfiles y las inversiones que suelen elegir:</BR>

        <BR> <B>Inversor Conservador: </B> Prefiere la seguridad y busca minimizar riesgos. Generalmente opta por bonos y fondos de inversión de bajo riesgo.</BR>
         
         <BR><B>Inversor Moderado:</B> Está dispuesto a asumir un poco más de riesgo a cambio de rendimientos potencialmente mayores. Suele diversificar su portafolio con acciones de empresas estables y fondos mixtos.</BR>
         
         <BR><B>Inversor Agresivo:</B> Busca maximizar sus rendimientos y no teme asumir riesgos significativos. Este perfil tiende a invertir en acciones de crecimiento y criptomonedas, donde las fluctuaciones del mercado pueden ofrecer grandes oportunidades.</BR>
         
         <BR><B>Inversor a Largo Plazo:</B> Se enfoca en el crecimiento sostenido de su capital. Prefiere acciones y bienes raíces, buscando beneficios a través del tiempo.</BR>
         
         <BR>Identificar tu perfil de inversor es crucial para seleccionar las inversiones que mejor se alineen con tus objetivos y tolerancia al riesgo.</BR></p>.
        
         <div class="tipos-iframe"> 
            <iframe width="847" height="480" src="https://www.youtube.com/embed/YtVMIrVjozo" title="¿Que es MEJOR? Ser TRADER o INVERSOR" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </Main>
    

    <!-- footer -->
    <footer>
        <p>&copy; Miqueas Kirtio, Potrero Digital 2024</p>
    </footer>
</body>
</html>