<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVERSION 360</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/icon.png" type="image/png">
</head>
<body>
    <!-- header -->
    <header>
        <div>
            <h1>INVERSION 360</h1>
            <p>"Invierte hoy, construye tu patrimonio con confianza."</p>
        </div>
    </header>
    <!-- navbar -->
    <nav class="navbar">
        <a href="../../index.html">INCIO</a>
        <a href="Mercado.html"">ACTUALIDAD DE MERCADO</a>
        <a href="Formulario.html">DEJANOS TU CONSULTA</a>
    </nav>
    <!-- TIPOS DE INVERSION -->
    <Main class="tipos">
        <h2>Tipos de Inversiones</h2>
        <img src="../img/inversion.png" alt="inversion">
        <p><BR>En el mundo de las finanzas, las inversiones son herramientas clave para generar riqueza y asegurar un futuro financiero. Existen diversos tipos de inversiones, cada una con sus características y niveles de riesgo. Entre las más comunes se encuentran:</BR>

        <BR> <B>Acciones:</B> Comprar acciones de empresas permite a los inversores participar en el crecimiento y las ganancias de estas. Es una opción popular para quienes buscan rendimientos a largo plazo.</BR>
         
         <BR><B>Bonos:</B> Los bonos son préstamos que los inversores hacen a gobiernos o corporaciones. A cambio, reciben intereses periódicos y el reembolso del capital al vencimiento. Son considerados más seguros que las acciones.</BR>
         
         <BR><B>Fondos de Inversión:</B> Agrupan el capital de varios inversores para comprar una variedad de activos. Son ideales para quienes prefieren una gestión profesional y diversificación.</BR>
         
         <BR><B>Bienes Raíces:</B>Invertir en propiedades puede ofrecer ingresos pasivos a través de alquileres y la apreciación del valor de la propiedad.</BR>
         
         <BR><B>Criptomonedas:</B>Activos digitales que han ganado popularidad en los últimos años. Aunque son altamente volátiles, ofrecen oportunidades de altos rendimientos.</BR>
         
         <BR>Conocer estos tipos de inversiones es fundamental para tomar decisiones informadas y adecuadas a tus objetivos financieros.</BR></p>.

        <div class="tipos-iframe"> 
            <iframe width="853" height="480" src="https://www.youtube.com/embed/Bv54j8y9c6Y" title="Tipos de inversiones" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
        </div>
        
    </Main>
    

    <!-- footer -->
    <footer>
        <p>&copy; Miqueas Kirtio, Potrero Digital 2024</p>
    </footer>
</body>
</html>